@use "variables";

*{
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: variables.$PrimaryColor;
    color:  variables.$TxtColor;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-bottom: 2rem;
  }
  
  svg{
    width: 3rem;
    fill: currentColor;
  }

  .svg--added{
    fill: rgb(191, 42, 228);
  }

  a{
    color: currentColor;
  }

  p::selection{
    color: white;
    background-color: variables.$SecColor;
  }



  .mainDiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: clamp(.7rem, 2vw, 1.5rem);  
  }


  .fullError{
    padding: 1rem;
    margin: 1rem;
    background-color: variables.$SecColor
  }


  .skipLink{
    @include variables.btnStyles;
    margin: 0;
    width: auto;
    position: absolute;
    left: -10rem;
  }

  .skipLink:focus{
    left: 11rem;
  }


 main .visibleElmnt{
  transform: translateX(0);
  transition: transform .7s ease-out; //PONERLA INDIVIDUAL?

 } 

