@use "variables";

*{
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: variables.$PrimaryColor;
    color:  variables.$TxtColor;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-bottom: 2rem;
  }
  
  svg{
    width: 3rem;
    fill: currentColor;
  }

  .svg--added{
    fill: rgb(191, 42, 228);
  }

  a{
    color: currentColor;
  }

  p::selection{
    color: white;
    background-color: variables.$SecColor;
  }



  .mainDiv{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
  }
