@use "../../../Sass/variables";

.MultipleProducts {
  text-align: center;
  overflow-x: hidden;
  background-color: variables.$SectionBgClr;
  border-radius: 2rem;
  padding: 1.5rem;
  transform: variables.$defaultPosition;

  &_h2 {
    margin: 2rem auto;
    padding: 1.5rem;
    width: clamp(10rem, 80%, 30rem);

    @include variables.shadedHeading;
  }

  &_Grid {
    row-gap: 1.5rem;
    @include variables.gridResponsive;

    @media (width < variables.$smallBreakPoint) {
      gap: 1.8rem;
    }
  }

  &_article {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: clamp(0.9rem, 1.8vw, 1rem);

    background-color: variables.$PrimaryColor;
    border-radius: 1rem;

    &--skeleton {
      @include variables.defaultSkeleton;
      height: 20rem;
      width: 12rem;
    }
  }

  &_link {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    @media (width < variables.$smallBreakPoint) {
      padding: 0;
    }
  }

  &_FavBtn {
    @include variables.favBtn;
    @include variables.scaleBtn;
    border-bottom: solid 0.2rem variables.$SecColor;
    border-radius: 1rem;
  }
}
