@use "../../Globals/variables";

.bigSlider{
    position: relative;
    height: auto;
    border-bottom: .2rem variables.$SecColor solid;
    overflow: hidden;
    // @media (width > 800px) {
    //   height: 70vh;
    // }

    &_contImgs{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 100%;

    }

    &_bg{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      min-height: 45vh;
      height: 28rem;

      @media (width <= 600px) {
        height: auto;
        min-height: auto;
      }



      &_contInfo{
        display: flex;
        width: clamp(28rem, 100%, 65rem); //70rem
        justify-content: center;

        &_Img{
          width: clamp(20rem,100%,37.5rem); //37.5rem
          // width: clamp(20rem, calc(40vw + 20vh), 57rem);

          height: auto;
          display: block;
        }

        &_title{
          display: inline;
          margin: auto;
          padding: 1rem;
          text-align: center;
          font-size: 3.5rem;
          word-spacing: 30rem;
    
          @media (width < 800px) {
            display: none;
          }
        }
    


      }



    }


    &_footer{
      background-color: rgb(26, 23, 65);
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      gap: .5rem;
      padding: .2rem 0;

      &_imgNumber{
        opacity: .5;
        width: 2rem;
        height: .8rem;
        border-radius: 20%;
        background-color: black;
        border: solid white .15rem;
  
        &--selected{
          background-color: rgb(255, 255, 255);
        }
        
  
      }
    }
    


  }
