@use "../../Globals/variables";

$border: .2rem;

.horizontalSctn{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    text-align: center;
    flex-wrap: wrap;
    gap: $border;



    &_Article{
        background-color: variables.$SectionBgClr;
        width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: space-between;
        border-right: $border solid variables.$SecColor;
        border-radius: 3rem;

        @media (width > 800px) {
            width: 49.3%;
        }


        &_Img{
            border-radius: 1rem;
            width: clamp(8rem, 12vw ,12rem);
        }


        &_infoDiv{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            &_title{
                font-size: variables.$bookTitleFntSize;
                padding: .5rem;
                margin: auto
                
            }

            &_btn{
                @include variables.btnStyles;
            }
        }
    

    }

    &_Article:nth-of-type(even){
        flex-direction: row-reverse;
        border-left: $border solid variables.$SecColor;
        border-right: none;
        border-bottom-right-radius: 2rem;
    }





}