@use "../../Globals/variables";

.singleProduct{
    background-color: variables.$SectionBgClr;
    display: flex;
    border-radius: 2rem;
    padding: .5rem;


    &_img{
        border-radius: 2rem;
        height: 20rem;
    }

    &_infoCont{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1;
        padding: 0 clamp(1rem,4vw,7rem);
        text-align: center;

        &_title{
            @include variables.shadedHeading;
            padding: 1rem;
            font-size: variables.$bookTitleFntSize; 
        }

        &_desc{
            font-size: variables.$secTxtFntSize
        }
        
        &_link{
            @include variables.btnStyles;
            margin: 0 auto;
        }

    }

}
