@use "../Globals/variables";
.alert{
    background-color:variables.$SecColor;
    color: white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
    margin: .5rem 0;
    padding: 1rem;
    border-color: rgb(255, 0, 0);
    animation: flick .5s infinite;
    border-radius: .5rem;
}


@keyframes flick {
    0%{
        border-color: rgb(255, 0, 0);
    }
    50%{
        border-color: variables.$SecColor;
    }
}