$highlightColors: (
    "first" : (
        bgColor: red,
        txtColor: white
    ),
    "second": (
        bgColor: blue,
        txtColor: white
    ),
    "third" : (
        bgColor: green,
        txtColor: white
    ),
    "fourth": (
        bgColor: orange,
        txtColor: black
    )
);

@mixin colorBtn($size, $bgColor, $padding){
    background-color: $bgColor;
    width: $size;
    height: $size;
    padding: $padding;
    border-radius: 50%;
    border: 2px solid black;
}


.highlighted{
    background-color: blue;
}

.contextMenu{
    position: fixed;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(167, 196, 209);

    &_ColorsCont{
        display: flex;
        justify-content: space-around;
    }

    &_color{
        @include colorBtn(1.5rem, transparent, 0)
    }

    &_unselectSVG{
        @include colorBtn(1.2rem, transparent, .1rem)

    }

    &_unselectBtn{
        @include colorBtn(1.65rem, transparent ,0 );
        border: none;
    }

    @each $modifier, $properties in $highlightColors{
        &_color--#{$modifier}{
            background-color: map-get($properties, bgColor);
            color: map-get($properties, txtColor )
        }
    }

}


