$highlightColors: (
    "first" : (
        bgColor: red,
        txtColor: white
    ),
    "second": (
        bgColor: blue,
        txtColor: white
    ),
    "third" : (
        bgColor: green,
        txtColor: white
    ),
    "fourth": (
        bgColor: orange,
        txtColor: black
    )
);



.highlighted{
    background-color: blue;
}

.contextMenu{
    position: absolute;
    bottom: 0;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(167, 196, 209);

    &_ColorsCont{
        display: flex;
        justify-content: space-around;
    }

    &_color{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 2px solid black;
    }

    @each $modifier, $properties in $highlightColors{
        &_color--#{$modifier}{
            background-color: map-get($properties, bgColor);
            color: map-get($properties, txtColor )
        }
    }

}


