@use "../Globals/variables";
@use "../MainContent/Landing/MultipleProducts";

.favPage{
    text-align: center;
    display: flex;
    flex-direction: column;

    &_h2{
        padding: 1rem;
        margin: 1rem;
        background-color: variables.$SecColor
    }

    &_Grid{
        @include variables.gridResponsive;
    }


    &_article{

        @extend .MultipleProducts_article;
        align-items: center;

        &_Img{
            @extend .MultipleProducts_article_link_Img;
        }
    
        &_title{
    
    
            @extend .MultipleProducts_article_link_title;
            
        }
        
    
    
        &_trashBtn{
            @include variables.defaultBtn;
        }
    }


}