@use "../Globals/variables";
@use "../MainContent/Landing/MultipleProducts";

.favPage{
    text-align: center;
    display: flex;
    flex-direction: column;

    &_h2{
        padding: 1rem;
        margin: 1rem;
        background-color: variables.$SecColor
    }

    &_Grid{
        @include variables.gridResponsive;
    }


    &_article{

        @extend .MultipleProducts_article;
        align-items: center;

        &--skeleton{
            @include variables.defaultSkeleton;
            width: 12.5rem;
            height: 18rem
        }

        &_Img{
            @extend .MultipleProducts_article_link_Img;
            // width: auto;
            // height: 14rem;
        }
    
        &_title{
            @extend .MultipleProducts_article_link_title;
        }
        
    
    
        &_trashBtn{
            @include variables.defaultBtn;
        }
    }


}