@use "../Globals//variables";



.orderMain {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.orderForm{

  width: clamp(20rem, 90vw, 40rem);
  display: flex;
  flex-direction: column;
  align-items: center;


  &_h1 {
    margin: .5rem;
  }
  

  &_AllInputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &--skeleton{
      height: 130vh;
      border-radius: 2rem;
      @include variables.defaultSkeleton;
    }

    &_label{
      display: flex;
      align-items: center;

    }


    &_input{
      margin-left: auto;
      padding: 1rem;
      border-radius: .7rem;
      background-color: variables.$SecColor;
      color: white;

      &::placeholder {
        color: variables.$TxtColor;
      }

    }
  }

  &_submitBtn {
    @include variables.btnStyles;
    width: 30%;
  }


  &_MapCont{
    width: 100%;
    // background-color: rebeccapurple;
    display: flex;
  }

}


.leaflet-container {
  height: calc(20rem + 5vw);
  width: 100%;
  margin: 1.5rem;
  border-radius: 1rem;
}


