@use "../Globals/variables";



.MultipleProducts{
    text-align: center;
    overflow-x: hidden;
    background-color: variables.$SectionBgClr;
    border-radius: 2rem;
    padding: 1.5rem;

    &_h2{
        margin: 2rem auto ;
        padding: 1.5rem;
        width: clamp(10rem,80%,30rem);
        font-size: clamp(1.6rem, 2.8vw, 2.1rem); //<== reutilizar
        border-radius: 2rem;

        box-shadow: inset .4rem .4rem .8rem #000 ;
        background-color: variables.$PrimaryColor;

    }

    &_Grid{
        @include variables.gridResponsive
    }

    &_Img{
        width: 90%;
        height: 18rem;        
    }


    &_link{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem
    }

    &_FavBtn{
        @include variables.favBtn;
        border-bottom: solid .2rem variables.$SecColor;
        border-radius: 1rem;
    }

    &_title{
        padding: .8rem;
        margin: auto;
    }

    &_article{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: clamp(.9rem, 1.8vw, 1rem);  //<== reutilizar

        background-color: variables.$PrimaryColor;
        border-radius: 1rem;

        
    }


}

/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --r: .8em; /* control the ribbon shape */
    
    padding-inline: calc(var(--r) + .3em);
    line-height: 1.8;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,0 100%, var(--r) 50%);
    background: #CC333F; /* the main color */
    width: fit-content;
  }