@use "../Globals/variables";



.MultipleProducts{
    text-align: center;
    overflow-x: hidden;

    &_h2{
        margin: 2rem 0;
        padding: 1rem 0;
        border-bottom: .2rem solid variables.$SecColor;
        font-size: clamp(1.6rem, 2.8vw, 2.1rem);; //<== reutilizar
    }

    &_Grid{
        @include variables.gridResponsive
    }

    &_Img{
        width: 90%;
        height: 18rem;        
    }


    &_link{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_FavBtn{
        @include variables.favBtn;
        border-bottom: solid .2rem variables.$SecColor;
    }

    &_title{
        padding: .8rem;
        margin: auto;
    }

    &_article{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: clamp(.9rem, 1.8vw, 1rem);  //<== reutilizar

        
    }


}