@use "../Globals/variables";

.readBook{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
    
    &_h1{
        text-align: center;
        margin: 1rem;
        position: relative;
        background-color: variables.$SecColor;
        padding: .5rem;
    }

    &_paragraphsContainer{
        display: flex;
        flex-direction: column;
        gap: .9rem;
        white-space: pre-wrap;
        margin-top: 1rem;
        padding: 0 1rem 1rem 1rem;
        line-height: 1.2rem;
        max-width: 70rem;
    }
}

