@use "../Globals/variables";

.VerticalSctn{
    display: flex;
    gap: .3rem;
    background-color: variables.$SecColor;
    margin-top: 3rem;

    &_Article{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1;
        background-color: variables.$PrimaryColor;
        align-items: center;
    }

    &_Img{
        width: 13rem;
    }

    &_title{
        font-size: 1rem;
        padding: 1rem;
    }

    &_btn{
        margin: auto 1rem 2rem 1rem;
        background-color: transparent;
        color: variables.$TxtColor;
        border: .1rem solid;
        padding: .5rem;
        border-radius: 1rem;
        width: 5rem;
    }


}