@use "../../Sass/variables";
@use "../../components/Home/MultipleProducts/MultipleProducts";

.favPage {
  text-align: center;
  display: flex;
  flex-direction: column;

  &_h2 {
    padding: 1rem;
    margin: 1rem;
    background-color: variables.$SecColor;
  }

  &_Grid {
    @include variables.gridResponsive;
  }
}

.bookElmnt {
  @extend .MultipleProducts_article;
  align-items: center;

  &--skeleton {
    @include variables.defaultSkeleton;
    width: 12.5rem;
    height: 18rem;
  }

  &_img {
    height: 14rem;
    width: auto;
  }

  &_title {
    padding: 0.8rem 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12rem;
    height: 3rem;
    font-size: variables.$bookTitleFntSize;
  }

  &_trashBtn {
    @include variables.defaultBtn;
  }
}
