@use "../../Sass/variables";
@use "../../components/Home/MultipleProducts/MultipleProducts";

.favPage {
  text-align: center;
  display: flex;
  flex-direction: column;

  &_h2 {
    padding: 1rem;
    margin: 1rem;
    background-color: variables.$SecColor;
  }

  &_Grid {
    @include variables.gridResponsive;

    @media (width < variables.$smallBreakPoint) {
      column-gap: 0;
      row-gap: 1rem;
    }
  }
}

.bookElmnt {
  @extend .MultipleProducts_article;
  align-items: center;
  border: 0.2rem solid variables.$SecColor;
  padding: clamp(0.5rem, 2vw, 1rem);

  & hr {
    width: 100%;
    border: 0.1rem solid variables.$SecColor;
    margin: 1rem 0;
  }

  &--skeleton {
    @include variables.defaultSkeleton;
    width: 12.5rem;
    height: 18rem;
  }

  &_img {
    height: clamp(10rem, 50vw, 14rem);
    width: auto;
    border-radius: 1rem;
  }

  &_title {
    padding: 0.8rem 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(8rem, 27vw, 12rem);
    height: 3rem;
    font-size: variables.$bookTitleFntSize;
  }

  &_trashBtn {
    @include variables.defaultBtn;
  }
}
